<!DOCTYPE html>
<html>
    <!--HEAD-->
    <%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        
        <main>
            <form action='/buscador'>
                <div class="row">
                  <div class="col-10">
                    <div class="mb-3">
                      <input type="text" class="form-control" name="criteria" id="criteria" placeholder="Buscar" value="<%= criteria %>">
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </div>
                </div>
              </form>
              <% if (posts.length == 1) { %>
                <div class="alert alert-danger" role="alert">
                  Lo sentimos, no hemos encontrado resultados para <%= criteria %> .
                </div>
              <% } else { %>
                <% posts.forEach(post => { %>
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <a href="/posts/<%= post.id %>"><img src="<%= post.imagen %>" class="img-cover rounded-start" alt="..."></a>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p><a href="/users/detalleUsuario/<%= post.creador.id %>"><%= post.creador.username %></a></p>
                          <p></p>
                          <p><%= post.descripcion %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              <% } %>
        </main>
        <!--FOOTER-->
        <%- include('./partials/footer') %>
    </body>
</html>