<!DOCTYPE html>
<html>
    <!--HEAD-->
    <%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        
        <main>
            <div class="uk-section uk-section-xsmall">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    <% if (app.user) { %>
                        <% if (app.user.id == post.creador.id) { %>
                        <div class="float-end">
                            <a class="btn btn-primary" href="/posts/<%= post.id %>/editar">Editar Publicación</a>
                            <form action="/posts/<%= post.id %>/eliminar" method="POST">
                                <button type="submit" class="btn btn-primary" >Eliminar Publicación</button>
                            </form> 
                        </div>
                        <% } %>
                        <% } %>
                    
                    <section class="uk-flex uk-width-2-3 detalle-container">
                        <article class="uk-width-2-3 uk-flex uk-flex-center uk-flex-middle detalle-post">
                            <img src="<%= post.imagen %>" alt="Imagen del post" class="imagen-post ">
                        </article>
                        
                        <article class="uk-width-1-3 uk-flex uk-flex-column comentarios-detalle">
                            <div class="fotoPerfil">   <!-- class="info-post uk-flex uk-flex-middle"-->
                                <img  src="<%= post.creador.fotoPerfil %>" alt="Foto del usuario">
                                <h3><a href="/users/detalleUsuario/<%= post.creador.id %>"><%= post.creador.username %></a></h3>
                            </div>
                            <% if (app.user) { %>
                                <div class="float-end">
                                    <% if (post.likes.find(like => like.usuario_id == app.user.id)) { %>
                                      <a href="/feed/<%= post.id %>/dislike" class="btn btn-danger">Dislike</a>
                                    <% } else { %>
                                      <a href="/feed/<%= post.id %>/like" class="btn btn-primary">Like</a>
                                    <% } %>
                            <% } %>
                        
                            <% post.comments.forEach( comentario => {   %>
                            <div class="lista-comentarios" >
                                <div class="comentario uk-flex uk-flex-middle uk-margin-small-top">
                                    
                                    <a href="/users/detalleUsuario/<%= comentario.creador.id %>"><%= comentario.creador.username %></a> : <%= comentario.comentario %>

                                </div>
                            </div>
                            <br>
                            <% }); %> 
                            <% if (app.user) { %> 
                            <div class="agregar-comentario uk-flex uk-flex-middle">
                                <form method="POST" class="uk-text-center">
                                    <div class="form-floating">
                                        <textarea name="comentario" id="comentario" placeholder="Agregar comentario"></textarea>
                                        <label for="floatingTextarea"></label>
                                    </div>
                                <button class="uk-button uk-button-primary uk-margin-small-top" type="submit">Comentar</button>
                                </form>
                            </div>
                            <% } %> 
                           
                        </article>
                       
                    </section>
                </div>
            </div>
        </main>
        <!--FOOTER-->
        <%- include('./partials/footer') %>
    </body>
</html>